In [1]:
import pandas as pd
import os, sys
import csv

In [2]:


rpath = os.path.abspath('../data/20181024_d1_0830_0900 (5).csv')

csv.field_size_limit(10000000) 
# Create a new list to store the expanded rows
expanded_rows = []

with open(rpath, 'r') as csvfile:
    reader = csv.reader(csvfile)
    header = next(reader)

    for row in reader:
        values = row[0].split(';')  # Split the row values by ';'
        num_values = len(values)

        for i in range(1, num_values // 6 + 1):
            expanded_row = {
                'track_id': values[0],
                'type': values[1],
                'traveled_d': values[2],
                'avg_speed': values[3],
                'lat': values[6 * (i - 1) + 4],
                'lon': values[6 * (i - 1) + 5],
                'speed': values[6 * (i - 1) + 6],
                'lon_acc': values[6 * (i - 1) + 7],
                'lat_acc': values[6 * (i - 1) + 8],
                'time': values[6 * (i - 1) + 9]
            }

            expanded_rows.append(expanded_row)


# Now you have the expanded data in the `expanded_rows` list. You can optionally convert it to a DataFrame if needed:
df = pd.DataFrame(expanded_rows)

# Now, save the DataFrame to a new CSV file
df.to_csv('expanded_data.csv', index=False) 

df.head(10) # Print the number of expanded rows

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,48.85,9.770344,37.977391,23.737688,4.9178,0.0518,-0.0299,0.000000
1,1,Car,48.85,9.770344,37.977391,23.737688,4.9207,-0.0124,-0.0354,0.040000
2,1,Car,48.85,9.770344,37.977391,23.737688,4.9160,-0.0519,-0.0413,0.080000
3,1,Car,48.85,9.770344,37.977390,23.737688,4.9057,-0.0914,-0.0478,0.120000
4,1,Car,48.85,9.770344,37.977390,23.737689,4.8871,-0.1679,-0.0550,0.160000
5,1,Car,48.85,9.770344,37.977389,23.737689,4.8547,-0.2815,-0.0628,0.200000
6,1,Car,48.85,9.770344,37.977389,23.737689,4.8033,-0.4320,-0.0713,0.240000
7,1,Car,48.85,9.770344,37.977388,23.737690,4.7318,-0.5617,-0.0804,0.280000
8,1,Car,48.85,9.770344,37.977388,23.737690,4.6442,-0.6543,-0.0905,0.320000
9,1,Car,48.85,9.770344,37.977388,23.737690,4.5437,-0.7413,-0.1017,0.360000